@model Instuctor

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/imgs/@Model.Image" alt="Card image cap">
  <div class="card-body">
    <ul class="list-group list-group-flush">
    <li class="list-group-item">id: @Model.Id</li>
    <li class="list-group-item">Name: @Model.Name</li>
    <li class="list-group-item">Adress: @Model.Address</li>
     <li class="list-group-item">Salary: @Model.Salary</li>

    <li class="list-group-item">
        <a href="http://localhost:55420/Co/Index" class="card-link btn btn-primary">back</a>
        
    
    
    </li>
  </ul>
  </div>
</div>